---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
        {{ site.last_name }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    {% if page.profile %}
      <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1
      rounded' %}
          {% endif %}
          {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px)
      30vw, 95vw"{% endcapture %}
          {%
            include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image
            cache_bust=true
          %}
        {% endif %}
        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info }}</div>
        {% endif %}
      </div>
    {% endif %}

    <div class="clearfix">{{ content }}</div>

    <!-- News -->
    {% if page.news and site.announcements.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">news</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Latest posts -->
    {% if page.latest_posts %}
      <h2>
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit">latest posts</a>
      </h2>
      {% include latest_posts.liquid %}
    {% endif %}

    <h2>
        <a href="{{ '/publications/' | relative_url }}" style="color: inherit">research</a>
    </h2>
    <div class="publications">
      working papers

      <table class="table">
      <tbody>
      <tr>
      <td style="width:5%">
          <span class="label">1.</span>
      </td>
      <td>
      <b>Willy Wonka Mechanisms On a Budget</b> <br>
        with B. de Keijzer, G. Schäfer, and C. Ventre <br>
      </td>
      </tr>
      </tbody></table>
    <br>
    </div>

    <div class="publications">
          journal publications

          <table class="table">
          <tbody>
          <tr>
          <td style="width:5%">
              <span class="label">1.</span>
          </td>
          <td id=TOCS19>
          <b>Tight Welfare Guarantees for Pure Nash Equilibria of the Uniform Price Auction</b> <br>
            with G. Birmpas, G. Markakis, and O. Telelis <br>
            <i>Theory of Computing Systems</i>, Vol. 63, pp. 1451-1469, 2019<br>
            [<a href="/assets/pdf/tocs19.pdf">pdf</a>] Supersedes the <a href="#SAGT17"> SAGT 2017 paper</a> below. Appeared as a <a href="/assets/pdf/20PoA-poster.pdf">poster</a> at the  Workshop for the 20 years of the Price of Anarchy, 20POA 2019.
          </td>
          </tr>
          </tbody></table>
        <br>
    </div>

    <div class="publications">
          conference publications

          <table class="table">
          <tbody>
          <tr>
          <td style="width:5%">
              <span class="label">7.</span>
          </td>
          <td>
          <b>Pandora's Box Problem Over Time</b> <br>
            with G Amanatidis, F. Fusco, and R. Reiffenhäuser <br>
            [<a href="https://arxiv.org/abs/2407.15261">arXiv version</a>]
            <i> WINE 2024</i>, 20th Conference on Web and Internet Economics <br>
            [<a href="https://arxiv.org/abs/2407.15261">arXiv version</a>] 
          </td>
          </tr>
          <td style="width:5%">
              <span class="label">6.</span>
          </td>
          <td>
          <b> To Trust or Not to Trust: Assignment Mechanisms with Predictions in the Private Graph Model </b> <br>
              with R. Colini-Baldeschi, S. Klumper, and G. Schäfer <br>
              <i> EC 2024</i>, 25th ACM Conference on Economics and Computation <br>
              [<a href="https://arxiv.org/abs/2403.03725">arXiv version</a>] Appeared as a <a href=/assets/pdf/miw24.pdf>poster</a> at the (virtual) <a href="http://marketplaceinnovation.net"> 9th Marketplace Innovation Workshop</a>.
          </td>
          </tr>
          <tr>
          <td style="width:5%">
              <span class="label">5.</span>
          </td>
          <td>
          <b>Partial Allocations in Budget-Feasible Mechanism Design: Bridging Multiple Levels of Service and Divisible Agents</b> <br>
            with G. Amanatidis, S. Klumper, E. Markakis, and G. Schäfer <br>
            <i>WINE 2023</i>, 19th Conference on Web and Internet Economics <br>
            [<a href="https://arxiv.org/abs/2307.07385">arXiv version</a>] Appeared as a <a href="/assets/pdf/slmath.pdf">poster</a> at the SLMath <a href="https://www.slmath.org/workshops/1082">workshop</a> on Algorithms, Approximation and Learning in Market and Mechanism Design.
          </td>
          </tr>

          <tr>
          <td style="width:5%">
              <span class="label">4.</span>
          </td>
          <td>
          <b>On Improved Interval Cover Mechanisms for Crowdsourcing Markets</b> <br>
            with E. Markakis, and G. Papasotiropoulos<br>
            <i>SAGT 2022</i>, 15th International Symposium on Algorithmic Game Theory <br>
            [<a href="/assets/pdf/SAGT22.pdf">pdf</a>]
          </td>
          </tr>

          <tr>
          <td style="width:5%">
              <span class="label">3.</span>
          </td>
          <td>
          <b>Towards a Characterization of Worst Case Equilibria in the Discriminatory Price Auction</b> <br>
            with E. Markakis, and A. Sgouritsa<br>
            <i>WINE 2021</i>, 17th Conference on Web and Internet Economics <br>
            [<a href="/assets/pdf/WINE21.pdf">pdf</a>] [<a href="https://www.tele-task.de/lecture/video/8983/"> talk at WINE21</a>]
          </td>
          </tr>

          <tr>
          <td style="width:5%">
              <span class="label">2.</span>
          </td>
          <td>
          <b>On Core-Selecting and Core-Competitive Mechanisms for Binary Single-Parameter Auctions</b> <br>
            with E. Markakis<br>
            <i>WINE 2019</i>, 15th Conference on Web and Internet Economics <br>
            [<a href="/assets/pdf/WINE19.pdf">pdf</a>] [<a href="https://cvn.hosted.panopto.com/Panopto/Pages/Viewer.aspx?id=a717ed0a-083f-4393-a1f6-ab2100fc1bcc">talk at WINE19 (2:15:00)</a>]
          </td>
          </tr>

          <tr>
          <td style="width:5%">
              <span class="label">1.</span>
          </td>
          <td id=SAGT17>
          <b>Tight Welfare Guarantees for Pure Nash Equilibria of the Uniform Price Auction</b> <br>
            with G. Birmpas, E. Markakis, and O. Telelis <br>
            <i>SAGT 2017</i>, 10th International Symposium on Algorithmic Game Theory <br>
            <b> Best Paper Award</b> <br>
            [<a href="https://link.springer.com/chapter/10.1007/978-3-319-66700-3_2">link</a>] Superseded by the <a href="#TOCS19"> TOCS 2019 paper</a> above.
          </td>
          </tr>

          </tbody></table>
        <br>
    </div>

    <div class="publications">
              theses

              <table class="table">
              <tbody>
              <tr>
              <td style="width:5%">
                  <span class="label">2.</span>
              </td>
              <td>
              <b>Design and Analysis of Auction Mechanisms: Algorithms and Incentives</b> <br>
              <i>PhD Thesis</i>, Athens University of Economics and Business, April 2023<br>
              Advisor: Assoc. Prof. Vangelis Markakis <br>
              [<a href="/assets/pdf/PhD_Thesis.pdf">thesis</a>]
              </td>
              </tr>

              <tr>
              <td style="width:5%">
                  <span class="label">1.</span>
              </td>
              <td>
              <b>Multi-unit Auctions: Equilibria and Inefficiency</b> <br>
              <i>MSc Thesis</i>, Athens University of Economics and Business, July 2017<br>
              Advisor: Assoc. Prof. Vangelis Markakis <br>
              [<a href="/assets/pdf/msc-thesis.pdf">thesis</a>]
              </td>
              </tr>


              </tbody></table>
            <br>
    </div>

        <div class="publications">
                  other

                  <table class="table">
                  <tbody>
                  <tr>
                  <td style="width:5%">
                      <span class="label">1.</span>
                  </td>
                  <td>
                  <b> Integrating Clinical Data from Hospital Databases </b> <br>
                    with K. Karozos, I. Spartalis, D. Trivela, and V. Vassalos<br>
                    <i>SWH@ISWC 2018</i>, 1st International Workshop on Semantic Web Technologies for Health Data Management<br>
                    [<a href="/assets/pdf/swh.pdf">pdf</a>]
                  </td>
                  </tr>
                  </tbody></table>
                <br>
        </div>

    <!-- Selected papers -->
    {% if page.selected_papers %}
      <h2>
        <a href="{{ '/publications/' | relative_url }}" style="color: inherit">selected publications</a>
      </h2>
      {% include selected_papers.liquid %}
    {% endif %}

    <!-- Social -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>

        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}
  </article>
</div>
